<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% stylesheets.forEach(style => { %>
    <link rel="stylesheet" href="<%= style %>">
  <% }); %>
  <style>
    /* Define any additional styles here */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }
    .container {
      width: 80%;
      margin: auto;
      overflow: hidden;
    }
    header {
      background-color: #007BFF; /* ECI blue */
      color: #fff;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: #0056b3 3px solid;
    }
    header a, header a:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      margin-right: 15px;
    }
    .logo {
      float: left;
      height: 50px;
      margin-left: 20px;
    }
    nav {
      float: right;
      margin-top: 10px;
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    nav ul li {
      display: inline;
      margin-left: 15px;
    }
    .hero {
      background: #f4f4f4;
      padding: 50px;
      margin-bottom: 20px;
      border-top: #007BFF 4px solid;
    }
    .hero h1 {
      margin-bottom: 20px;
    }
    .hero p {
      font-size: 18px;
      line-height: 1.6;
    }
    .section {
      margin-bottom: 30px;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .section h2 {
      color: #007BFF;
      margin-top: 0;
    }
    .section p {
      line-height: 1.6;
    }
    .footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
      position: relative;
      margin-top: 50px; /* Adjust as needed */
    }
    .footer p {
      margin: 0;
    }
    .options {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .options .option {
      width: 30%;
      padding: 10px;
      background-color: #007BFF;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 10px;
    }
    .options .option a {
      color: #fff;
      text-decoration: none;
    }
    .options .option a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-left">
        <img src="https://github.com/dkatari/Hackathon-2/blob/main/QUICK%20ID.jpg?raw=true" alt="Quick ID Logo" class="logo" height ="auto" width="150">
        <h1> Quick ID Service Portal</h1>
    </div>      <nav>
        <ul>
          <li><a href="/index">HOME</a></li>
          <li><a href="/logout">LOGOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="hero">
    <!-- Hero section content -->
    <div class="container">
      <% if (user) { %>
        <h1>Welcome <%= user.first_name %> <%= user.last_name %></h1>
      <% } else { %>
        <h1>Welcome to QuickID</h1>
      <% } %>
      <p>Your one-stop solution for voter ID and PAN card registrations.</p>
    </div>
  </section>

  <div class="container">
    <section class="section">
      <h2>New Registration (General Electors)</h2>
      <p>Fill Form 6 if you are 18 years or above or you will turn 18 in a few months.</p>
      <div class="options">
        <div class="option">
          <a href="/form6">Fill Form 6</a>
        </div>
        <div class="option">
          <a href="/download/form6">Download Form 6</a>
        </div>
        <div class="option">
          <a href="/download/form6g">Guidelines</a>
        </div>
      </div>
    </section>

    <section class="section">
      <h2>New Registration (Overseas Electors)</h2>
      <p>Fill Form 6A if you are a citizen of India and have not acquired citizenship of any other country.</p>
      <div class="options">
        <div class="option">
          <a href="/form6a">Fill Form 6A</a>
        </div>
        <div class="option">
            <a href="/download/form6a" >Download Form 6A</a>
        </div>
        <div class="option">
          <a href="/download/form6ag">Guidelines</a>
        </div>
      </div>
    </section>

    <section class="section">
      <h2>PAN Card for Minor</h2>
      <p>Fill Form to apply for a new PAN card for a minor.</p>
      <div class="options">
        <div class="option">
          <a href="/pan_minor">Fill Form </a>
        </div>
        <div class="option">
          <a href="/download/form49">Download Form </a>
        </div>
        <div class="option">
          <a href="/download/Instructions">Guidelines</a>
        </div>
      </div>
    </section>

    <section class="section">
      <h2>PAN Card for Major</h2>
      <p>Fill Form to apply for a new PAN card for a major.</p>
      <div class="options">
        <div class="option">
          <a href="/pan_major">Fill Form</a>
        </div>
        <div class="option">
          <a href="/download/form49">Download Form </a>
        </div>
        <div class="option">
          <a href="/download/Instructions">Guidelines</a>
        </div>
      </div>
    </section>
    </div>
  <div class="footer">
    <p>&copy; 2024 QuickID. All rights reserved.</p>
  </div>

</body>
</html>